/*Broad Stylings*/
	
	html{
		margin-top:0px;
	}

	body{
		margin:0px;
		font-family: 'Open Sans', Sans-Serif;
		
	}

	section{

		display:flex;
		justify-content:flex-start;
		align-items:center;
		
		
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
   		-moz-column-count: 2; /* Firefox */
   		column-count: 2;

		-webkit-column-rule: 1px solid grey; /* Chrome, Safari, Opera */
	    -moz-column-rule: 1px solid grey; /* Firefox */
	    column-rule: 1px solid grey;
	}

	article{
		
		margin:20px;
		-webkit-column-span: all; /* Chrome, Safari, Opera */
    	column-span: all;

		/*media query to make them stack for mobile view (less than 600px screen width)*/

	}

	img{
		height:40vh;
		display:flex;
		justify-content:center;
	}

	footer{
		display: flex;
		height:100px;
		color:white;
		background-color:black;
		justify-content:center;
		align-items:center;
	}



/*Texas Landscapes*/

	#hero{
		display:flex;
		background-image:url("/images/texas_roadside_evening.jpg");
		background-size: cover;
		height:100vh;
		justify-content: center;
		align-items:flex-end;
		
	}

	#hero>h1{
		display:flex;
		color:white;
		font-weight:lighter;
		font-size:3.75em;
		text-transform: uppercase;
		letter-spacing: 3px;
		margin-top:0px;
		padding-bottom:7%;
		
	}