/*Broad Stylings*/
	
	html{
		margin-top:0px;
	}

	body{
		margin:0px;
		font-family: 'Open Sans', Sans-Serif;
	}

	footer{
		display: flex;
		height:100px;
		color:white;
		background-color:black;
		justify-content:center;
		align-items:center;
		position: absolute;
		width:100%;
	}

/*Texas Landscapes*/

	#hero{
		display:flex;
		background-image:url("/images/texas_roadside_evening.jpg");
		background-size: cover;
		min-height:100vh;
		justify-content: center;
		align-items:flex-end;
	}

	#hero>h1{
		display:flex;
		color:white;
		font-weight:lighter;
		font-size:3.75em;
		text-transform: uppercase;
		letter-spacing: 3px;
		margin-top:0px;
		padding-bottom:7%;
	}

/*Media Queries*/

	/*Mobile Responsive*/
	
	@media screen and (max-width: 645px){

		#hero>h1{
			display:flex;
			color:white;
			font-weight:lighter;
			font-size:2.75em;
			text-transform: uppercase;
			letter-spacing: 3px;
			margin-top:0px;
			padding-bottom:7%;
			text-align:center;
		}

		section {
	    	display:flex;
	    	flex-direction: column;
	    }

	    article{
	    	margin:10px;
	    }

	    footer{
	    	margin-top:790px;
	    	text-align:center;
	    }
	}   

	/*Desktop*/

	@media screen and (max-width: 2048px) {
		section{
		    display:flex;
		    justify-content:space-between;
		   	align-items:flex-start;
		   	margin:45px;
		   	height:90vh;
		}

		h2, article p{
			width:75vh;
			margin-right:0px;
			justify-content:flex-start;
			line-height:1.5;
		}

		h2{
			font-size:1.94em;
		}

		img{
			height:50vh;
			width:77vh;
			justify-content:center;
		}

		article p{
			font-size:1.34em;
		}
	}	